<h1>New track creation</h1>

<% if flash[:error] %>
    <hr>
    <h5>
        <strong>
            <%= flash[:error] %>
        </strong>
    </h5>
    <hr>
<% end %>

<%= form_with model: @track do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, required: true %>
    <% @track.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :file %><br>
    <%= form.file_field :file, required: true, accept: '.gpx'%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Cancel', "/"%>